include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnextfints *.css
recursive-include erpnextfints *.csv
recursive-include erpnextfints *.html
recursive-include erpnextfints *.ico
recursive-include erpnextfints *.js
recursive-include erpnextfints *.json
recursive-include erpnextfints *.md
recursive-include erpnextfints *.png
recursive-include erpnextfints *.py
recursive-include erpnextfints *.svg
recursive-include erpnextfints *.txt
recursive-exclude erpnextfints *.pyc